workspace-ops/workflows/newsletter-ai-part2.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "const combo = $input.first().json;\nconst topic = combo.topic;\nconst client = combo.client;\nconst analysis = combo.websiteAnalysis;\n\nconst prompt = `Du bist ein erfahrener E-Mail Marketing Texter für E-Commerce.\n\nAUFGABE: Schreibe einen Newsletter für ${client.firmenname}.\n\nTHEMA: ${topic.name}\n\nKONTEXT AUS NOTION:\n${topic.notionContent}\n\nWEBSITE-ANALYSE:\n- Produktkategorie: ${analysis.mainProduct}\n- Tonality: ${analysis.tone}\n- USP: ${analysis.usp}\n- Garantie/Versprechen: ${analysis.guarantee}\n\nANFORDERUNGEN:\n1. Betreffzeile (max 60 Zeichen, catchy)\n2. Preview Text (max 100 Zeichen)\n3. E-Mail Body (HTML, professionell, im Stil der Marke)\n4. CTA Text (kurz, action-orientiert)\n\nDer Text soll ${analysis.tone === 'luxury' ? 'elegant und exklusiv' : analysis.tone === 'casual' ? 'locker und sympathisch' : 'professionell und vertrauenswürdig'} wirken.\n\nAntworte im JSON Format:\n{\n  \"subject\": \"...\",\n  \"previewText\": \"...\",\n  \"emailBody\": \"... (HTML mit <p>, <h2>, <ul>, <li>, <strong>, <em>) ...\",\n  \"ctaText\": \"...\"\n}`;\n\nreturn [{\n  json: {\n    ...combo,\n    aiPrompt: prompt\n  }\n}];"
      },
      "name": "Prepare AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-3-5-sonnet-20241022"
            },
            {
              "name": "max_tokens",
              "value": "4000"
            },
            {
              "name": "messages",
              "value": "={{ JSON.stringify([{ role: 'user', content: $json.aiPrompt }]) }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "name": "Claude AI Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2200, 450],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const combo = $input.first().json;\nconst aiResponse = combo.body;\n\nif (!aiResponse || !aiResponse.content || !aiResponse.content[0]) {\n  return [{\n    json: {\n      ...combo,\n      generatedContent: {\n        subject: `${combo.topic.name} | ${combo.client.firmenname}`,\n        previewText: `Neue ${combo.websiteAnalysis?.mainProduct || 'Produkte'} entdecken`,\n        emailBody: `<p>Hallo!</p><p>Wir haben spannende Neuigkeiten zu ${combo.topic.name}.</p><p>Entdecke mehr auf unserer Website.</p>`,\n        ctaText: 'Jetzt entdecken'\n      },\n      aiError: 'AI generation failed, using fallback'\n    }\n  }];\n}\n\ntry {\n  const text = aiResponse.content[0].text;\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  const parsed = JSON.parse(jsonMatch ? jsonMatch[0] : text);\n  \n  return [{\n    json: {\n      ...combo,\n      generatedContent: {\n        subject: parsed.subject || `${combo.topic.name} | ${combo.client.firmenname}`,\n        previewText: parsed.previewText || `Neue ${combo.websiteAnalysis?.mainProduct || 'Produkte'}`,\n        emailBody: parsed.emailBody || parsed.body || parsed.content || '<p>Content coming soon</p>',\n        ctaText: parsed.ctaText || 'Jetzt entdecken'\n      }\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      ...combo,\n      generatedContent: {\n        subject: `${combo.topic.name} | ${combo.client.firmenname}`,\n        previewText: `Neue ${combo.websiteAnalysis?.mainProduct || 'Produkte'} entdecken`,\n        emailBody: `<p>${aiResponse.content[0].text.substring(0, 500)}</p>`,\n        ctaText: 'Mehr erfahren'\n      },\n      aiError: e.message\n    }\n  }];\n}"
      },
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 450]
    },
    {
      "parameters": {
        "jsCode": "const combo = $input.first().json;\nconst client = combo.client;\nconst content = combo.generatedContent;\nconst analysis = combo.websiteAnalysis;\n\nconst fullHtml = `<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>${combo.topic.name}</title>\n</head>\n<body style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; line-height: 1.7; color: #222; max-width: 600px; margin: 0 auto; padding: 0;\">\n\n<div style=\"display: none; max-height: 0; overflow: hidden;\">${content.previewText}</div>\n\n<div style=\"background: #000; color: #fff; padding: 40px 30px; text-align: center;\">\n<h1 style=\"font-size: 28px; margin: 0 0 10px 0; font-weight: 600;\">${client.firmenname}</h1>\n<p style=\"font-size: 14px; margin: 0; opacity: 0.8; text-transform: uppercase; letter-spacing: 2px;\">${combo.topic.name}</p>\n</div>\n\n<div style=\"padding: 40px 30px;\">\n${content.emailBody}\n</div>\n\n<div style=\"background: #f5f5f5; padding: 40px 30px; text-align: center;\">\n<a href=\"${client.website}\" style=\"display: inline-block; background: #000; color: #fff; padding: 16px 40px; text-decoration: none; border-radius: 4px; font-weight: 600; font-size: 15px; text-transform: uppercase; letter-spacing: 1px;\">${content.ctaText} →</a>\n<p style=\"font-size: 13px; color: #888; margin-top: 20px;\">${analysis?.guarantee || ''}</p>\n</div>\n\n<div style=\"padding: 30px; text-align: center; color: #999; font-size: 12px; border-top: 1px solid #eee;\">\n<p style=\"margin: 0 0 10px 0;\"><strong style=\"color: #333;\">${client.firmenname}</strong></p>\n<p style=\"margin: 15px 0;\"><a href=\"${client.website}\" style=\"color: #666;\">${client.website}</a></p>\n</div>\n\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    ...combo,\n    finalEmail: {\n      subject: content.subject,\n      previewText: content.previewText,\n      html: fullHtml\n    }\n  }\n}];"
      },
      "name": "Build Final Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 450]
    },
    {
      "parameters": {
        "jsCode": "const combo = $input.first().json;\nconst client = combo.client;\n\ntry {\n  const resp = await $httpRequest({\n    method: 'GET',\n    url: 'https://a.klaviyo.com/api/lists',\n    headers: {\n      'Authorization': `Klaviyo-API-Key ${client.klaviyoKey}`,\n      'revision': '2024-10-15'\n    }\n  });\n  \n  const lists = resp.body?.data || [];\n  let targetList = lists[0]?.id;\n  \n  for (const list of lists) {\n    const name = list.attributes?.name?.toLowerCase() || '';\n    if (name.includes('newsletter') || name.includes('main') || name.includes('all')) {\n      targetList = list.id;\n      break;\n    }\n  }\n  \n  return [{\n    json: {\n      ...combo,\n      targetList: targetList\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      ...combo,\n      targetList: null,\n      klaviyoError: e.message\n    }\n  }];\n}"
      },
      "name": "Get Klaviyo Lists",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2800, 450]
    },
    {
      "parameters": {
        "jsCode": "const combo = $input.first().json;\nconst client = combo.client;\nconst email = combo.finalEmail;\nconst topic = combo.topic;\n\nconst topicDate = topic.date;\nconst today = new Date();\nlet sendDate;\n\nif (topicDate) {\n  const d = new Date(topicDate);\n  sendDate = d < today ? new Date(d.setDate(d.getDate() + 7)) : d;\n} else {\n  sendDate = new Date(today.setDate(today.getDate() + 1));\n}\n\nconst sendAt = sendDate.toISOString().split('T')[0] + 'T09:00:00.000Z';\n\nconst campaignData = {\n  data: {\n    type: 'campaign',\n    attributes: {\n      name: email.subject,\n      audiences: { included: combo.targetList ? [combo.targetList] : [] },\n      send_strategy: {\n        method: 'static',\n        options_static: { datetime: sendAt }\n      },\n      'campaign-messages': {\n        data: [{\n          type: 'campaign-message',\n          attributes: {\n            channel: 'email',\n            label: email.subject.slice(0, 50),\n            content: {\n              subject: email.subject,\n              preview_text: email.previewText\n            }\n          }\n        }]\n      }\n    }\n  }\n};\n\ntry {\n  const resp = await $httpRequest({\n    method: 'POST',\n    url: 'https://a.klaviyo.com/api/campaigns',\n    headers: {\n      'Authorization': `Klaviyo-API-Key ${client.klaviyoKey}`,\n      'revision': '2024-10-15',\n      'Content-Type': 'application/json'\n    },\n    body: campaignData\n  });\n  \n  return [{\n    json: {\n      comboId: combo.comboId,\n      client: client.firmenname,\n      topic: topic.name,\n      subject: email.subject,\n      campaignId: resp.body?.data?.id,\n      status: 'Created',\n      sendDate: sendAt\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      comboId: combo.comboId,\n      client: client.firmenname,\n      topic: topic.name,\n      subject: email.subject,\n      campaignId: null,\n      status: 'Failed',\n      error: e.message\n    }\n  }];\n}"
      },
      "name": "Create Klaviyo Campaign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3000, 450]
    },
    {
      "parameters": {},
      "name": "Wait Next Batch",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [3200, 450],
      "webhookId": "wait-loop"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nconst campaigns = results.map(r => r.json);\n\nconst success = campaigns.filter(c => c.campaignId).length;\nconst failed = campaigns.length - success;\n\nconst summary = {};\nfor (const c of campaigns) {\n  if (!summary[c.client]) summary[c.client] = { success: 0, failed: 0 };\n  if (c.campaignId) summary[c.client].success++;\n  else summary[c.client].failed++;\n}\n\nreturn [{\n  json: {\n    success,\n    failed,\n    total: campaigns.length,\n    summary,\n    date: new Date().toLocaleDateString('de-DE'),\n    campaigns: campaigns.slice(0, 10)\n  }\n}];"
      },
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3400, 450]
    },
    {
      "parameters": {
        "chatId": "6607099798",
        "text": "=📧 Newsletter-Woche: {{ $json.date }}\n\n✅ {{ $json.success }} erstellt | ❌ {{ $json.failed }} Fehler\n\nKunden-Übersicht:\n{{ Object.entries($json.summary).map(([name, stats]) => `• ${name}: ${stats.success}✓ ${stats.failed}✗`).join('\\n') }}\n\n{{ $json.failed > 0 ? '⚠️ ' + $json.failed + ' Campaign(s) fehlgeschlagen!' : '✅ Alle Campaigns erfolgreich!' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Telegram Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [3600, 450]
    }
  ],
  "connections": {
    "Prepare AI Prompt": {
      "main": [
        [
          {
            "node": "Claude AI Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI Generation": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Build Final Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Email": {
      "main": [
        [
          {
            "node": "Get Klaviyo Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Klaviyo Lists": {
      "main": [
        [
          {
            "node": "Create Klaviyo Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Klaviyo Campaign": {
      "main": [
        [
          {
            "node": "Wait Next Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Next Batch": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Telegram Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}